<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/uploadFile">Upload File</a>
    </div>

    <div>
        <h2>List User:</h2>

        <table>
            <tr>
                <th>ID</th>
                <th>fisrtName</th>
                <th>LastName</th>
                <th>Action</th>
            </tr>
            <% for(let i=0; i < dataUser.length; i++) { %>
                <tr>
                    <td>
                        <%= dataUser[i].id %>
                    </td>
                    <td>
                        <%= dataUser[i].fisrtname %>
                    </td>
                    <td>
                        <%= dataUser[i].lastname %>
                    </td>
                    <td class="action-form">
                        <a href="/detail/<%= dataUser[i].fisrtname %>/<%= dataUser[i].id %>">
                            <button type="button">Detail</button></a>
                        <form action="/editUser/<%= dataUser[i].id %>" method="GET">
                            <button type="submit">Edit</button>
                        </form>

                        <form action="/deleteUser" method="POST">
                            <input type="text" hidden value="<%= dataUser[i].id %>" name="userId">
                            <button type="submit">Delete</button>
                        </form>

                    </td>
                </tr>
                <% } %>

        </table>

    </div>
    <div class="create-user-form">
        <h1>Create New User:</h1>
        <form action="/create-new-user" method="POST">
            <div>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
            </div>
            <div>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname"><br>
            </div>
            <div>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email"><br>
            </div>
            <div>
                <label for="adress">Adress:</label><br>
                <input type="text" id="adress" name="adress">
            </div>
            <div>
                <button class="btn-submit" type="submit">Submit</button>
            </div>

        </form>
    </div>


</body>

</html>